<h1>Play Economy</h1>
<p>Welcome to the Play Economy website, a cloud native virtual economy system</p>
<p>To get started, you can: </p>
<ul>
  <li>Manage the <a routerLink="/catalog">Catalog</a></li>
  <li>Check a user's <a routerLink="/inventory"> Inventory</a></li>
</ul>
<p>You can also</p>
<ul>
  <li>Manage the <a>message queues</a></li>
  <li>Explore the Open API documentation:
    <ul>
      <li><a>Catalog Service</a></li>
      <li><a>Inventory Service</a></li>
    </ul>
  </li>
</ul>
<p>This website was built with:</p>
<ul>
  <li><a>ASP.NET Core</a> and <a>C#</a> for cross platform server side code</li>
  <li><a>Docker</a> for services containerization</li>
  <li><a>MongoDB</a> for database storage</li>
  <li><a>RabbitMQ</a> and <a>MassTransit</a> for message-based asynchronous communication</li>
  <li><a>Angular</a> for client-side rendering and <a>Angular Material</a> for layout and styling</li>
</ul>
